a {
  color: #7971ea;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #3a2ee0;
  }
}

.btn {
  color: #fff;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}

.btn-outline-primary {
  color: #7971ea;
}

.form-control {
  height: 43px;
}

textarea.form-control {
  height: auto;
}

.text-success {
  color: #28a745!important;
}

.bg-light {
  background-color: #f8f9fa !important;
}
